<footer>
  <div class="justify-center w-fit mx-auto text-center py-12">
    <p class="font-medium text-base text-base-900 whitespace-pre-line">
      <strong class="font-bold">Business Address:</strong> Nr. 22, Camera C1, Modulul C127 | Bulevardul IONIŢĂ SANDU STURZA | Municipiul Bacău | Jud. Bacău | 600001 | RO
      <strong class="font-bold">Email:</strong> sugarhextrad@outlook.com    |    <strong class="font-bold">Phone number:</strong> +447897033609
    </p>
  </div>
</footer>